{% extends '@templates/_base/_base--branded.html.twig' %}
{% from '@templates/email/utm-url/utm-url.html.twig' import utmUrl %}

{% block content %}
    <div>{{'Dear @name' | t ({'@name': (name ?: sitecode.site_title ~ ' user' | t) }) | raw }},</div>
    <br />
    <div>{{ "We've received a request to reset your password. Click the button below to create a new password." | t }}</div>
    <br /><br />
    <div style="clear: both;text-align: center;">
        <a href="{{ resetLink }}&utm_source=sendgrid.com&utm_medium=email&utm_campaign=password-reset" style="color:#ffffff;background:{{ sitecode.emails.styles.background_button_color }};margin: auto;padding: 15px 40px;">{{ 'Reset your password' | t }}</a>
    </div>
    <br /><br />
    <div>{{ "Password reset links are only valid for 24 hours. If the link expires, you'll need to submit a new request @here." | t ({'@here': '<a href="' ~ sitecode.emails.support_email ~ '/?utm_source=sendgrid.com&utm_medium=email&utm_campaign=password-reset" class="tradusColor">' ~ 'here' | t ~ '</a>'}) | raw }}</div>
{% endblock %}
